<!DOCTYPE html>
<html>
<head>
    #include("layout/header.html")
    <title>H+ 后台主题UI框架 - 主页</title>
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">

<div id="wrapper">
    #include("layout/menu_left.html")
    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">

        <!--右侧部分公共页面-->
        #include("layout/right_others.html")

        <!--右侧页面主内容区域-->
        <div class="row J_mainContent" id="content-main">
            <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="index_v1.html?v=4.0" frameborder="0" data-id="index_v1.html" seamless></iframe>
        </div>

        <!--页面footeer-->
        #include("layout/footer.html")
    </div>
    <!--右侧部分结束-->

    <!--右侧部分工具栏--->
    #include("layout/right_sidebar.html")
</div>

  <!--页面公用的js脚本-->
  #include("layout/inc.html")
</body>

</html>