<!DOCTYPE html>
<html>
<head>
    #include("../layout/header.html")
    <title>用户列表</title>
    <link href="${CONTEXT_PATH}/static/hplus4.1.0/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">



        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">

                            <div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group">
                                <button type="button" class="btn btn-outline btn-default">
                                    <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-outline btn-default">
                                    <i class="glyphicon glyphicon-heart" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-outline btn-default">
                                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                            <table id="exampleTableEvents" data-height="500" data-striped="true" data-mobile-responsive="true">
                                <thead>
                                <tr>
                                    <th data-field="state" data-checkbox="true"></th>
                                    <th data-field="id">ID</th>
                                    <th data-field="name">名称</th>
                                    <th data-field="price">价格</th>
                                </tr>
                                </thead>
                            </table>


                </div>
            </div>
        </div>
    </div>


<!-- 全局js -->
<script src="${CONTEXT_PATH}/static/hplus4.1.0/js/jquery.min.js"></script>
<script src="${CONTEXT_PATH}/static/hplus4.1.0/js/bootstrap.min.js"></script>

<!-- 自定义js -->
<script src="${CONTEXT_PATH}/static/hplus4.1.0/js/content.js"></script>


<!-- Bootstrap table -->
<script src="${CONTEXT_PATH}/static/hplus4.1.0/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="${CONTEXT_PATH}/static/hplus4.1.0/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="${CONTEXT_PATH}/static/hplus4.1.0/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>

<!-- Peity -->
<script>
    (function(document, window, $) {
        'use strict';
        (function() {
            $('#exampleTableEvents').bootstrapTable({
                url: "${CONTEXT_PATH}/static/hplus4.1.0/js/demo/bootstrap_table_test.json",
                search: true,
                pagination: true,
                showRefresh: true,
                showToggle: true,
                showColumns: true,
                iconSize: 'outline',
                toolbar: '#exampleTableEventsToolbar',
                icons: {
                    refresh: 'glyphicon-repeat',
                    toggle: 'glyphicon-list-alt',
                    columns: 'glyphicon-list'
                }
            });
        })();
    })(document, window, jQuery);
</script>

</body>

</html>
