<!-- 全局js -->
<script src="${CONTEXT_PATH}/static/hplus4.1.0/js/jquery.min.js"></script>
<script src="${CONTEXT_PATH}/static/hplus4.1.0/js/bootstrap.min.js"></script>
<script src="${CONTEXT_PATH}/static/hplus4.1.0/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="${CONTEXT_PATH}/static/hplus4.1.0/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="${CONTEXT_PATH}/static/hplus4.1.0/js/plugins/layer/layer.min.js"></script>

<!-- 自定义js -->
<script src="${CONTEXT_PATH}/static/hplus4.1.0/js/hplus.js?v=4.1.0"></script>
<script type="text/javascript" src="${CONTEXT_PATH}/static/hplus4.1.0/js/contabs.js"></script>

<!-- 第三方插件 -->
<script src="${CONTEXT_PATH}/static/hplus4.1.0/js/plugins/pace/pace.min.js"></script>