<!-- 全局js -->
<script src="${CONTEXT_PATH}/static/hplus/js/jquery.min.js"></script>
<script src="${CONTEXT_PATH}/static/hplus/js/bootstrap.min.js"></script>
<script src="${CONTEXT_PATH}/static/hplus/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="${CONTEXT_PATH}/static/hplus/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="${CONTEXT_PATH}/static/hplus/js/plugins/layer/layer.min.js"></script>

<!-- 自定义js -->
<script src="${CONTEXT_PATH}/static/hplus/js/hplus.js"></script>
<script type="text/javascript" src="${CONTEXT_PATH}/static/hplus/js/contabs.js"></script>

<!-- 第三方插件 -->
<script src="${CONTEXT_PATH}/static/hplus/js/plugins/pace/pace.min.js"></script>



<!-- Bootstrap table -->
<script src="${CONTEXT_PATH}/static/hplus/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="${CONTEXT_PATH}/static/hplus/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="${CONTEXT_PATH}/static/hplus/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
