    <link href="${CONTEXT_PATH}/static/bjui/themes/css/bootstrap.css" rel="stylesheet">
    <!-- core - css -->
    <link href="${CONTEXT_PATH}/static/bjui/themes/css/style.css" rel="stylesheet">
    <link href="${CONTEXT_PATH}/static/bjui/themes/blue/core.css" id="bjui-link-theme" rel="stylesheet">
    <link href="${CONTEXT_PATH}/static/bjui/themes/css/fontsize.css" id="bjui-link-theme" rel="stylesheet">
    <!-- plug - css -->
    <link href="${CONTEXT_PATH}/static/bjui/plugins/kindeditor_4.1.11/themes/default/default.css" rel="stylesheet">
    <link href="${CONTEXT_PATH}/static/bjui/plugins/colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="${CONTEXT_PATH}/static/bjui/plugins/nice-validator-1.0.7/jquery.validator.css" rel="stylesheet">
    <link href="${CONTEXT_PATH}/static/bjui/plugins/bootstrapSelect/bootstrap-select.css" rel="stylesheet">
    <link href="${CONTEXT_PATH}/static/bjui/plugins/webuploader/webuploader.css" rel="stylesheet">
    <link href="${CONTEXT_PATH}/static/bjui/themes/css/FA/css/font-awesome.min.css" rel="stylesheet">
    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <!--[if lte IE 7]>
    <link href="${CONTEXT_PATH}/static/bjui/themes/css/ie7.css" rel="stylesheet">
    <![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lte IE 9]>
    <script src="${CONTEXT_PATH}/static/bjui/other/html5shiv.min.js"></script>
    <script src="${CONTEXT_PATH}/static/bjui/other/respond.min.js"></script>
    <![endif]-->
    <!-- jquery -->
    <script src="${CONTEXT_PATH}/static/bjui/js/jquery-1.11.3.min.js"></script>
    <script src="${CONTEXT_PATH}/static/bjui/js/jquery.cookie.js"></script>
    <!--[if lte IE 9]>
    <script src="${CONTEXT_PATH}/static/bjui/other/jquery.iframe-transport.js"></script>
    <![endif]-->
    <!-- ${CONTEXT_PATH}/static/bjui -->
    <script src="${CONTEXT_PATH}/static/bjui/js/bjui-all.min.js"></script>
    <!-- plugins -->
    <!-- swfupload for kindeditor -->
    <script src="${CONTEXT_PATH}/static/bjui/plugins/swfupload/swfupload.js"></script>
    <!-- Webuploader -->
    <script src="${CONTEXT_PATH}/static/bjui/plugins/webuploader/webuploader.js"></script>
    <!-- kindeditor -->
    <script src="${CONTEXT_PATH}/static/bjui/plugins/kindeditor_4.1.11/kindeditor-all-min.js"></script>
    <script src="${CONTEXT_PATH}/static/bjui/plugins/kindeditor_4.1.11/lang/zh-CN.js"></script>
    <!-- colorpicker -->
    <script src="${CONTEXT_PATH}/static/bjui/plugins/colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <!-- ztree -->
    <script src="${CONTEXT_PATH}/static/bjui/plugins/ztree/jquery.ztree.all-3.5.js"></script>
    <!-- nice validate -->
    <script src="${CONTEXT_PATH}/static/bjui/plugins/nice-validator-1.0.7/jquery.validator.js"></script>
    <script src="${CONTEXT_PATH}/static/bjui/plugins/nice-validator-1.0.7/jquery.validator.themes.js"></script>
    <!-- bootstrap plugins -->
    <script src="${CONTEXT_PATH}/static/bjui/plugins/bootstrap.min.js"></script>
    <script src="${CONTEXT_PATH}/static/bjui/plugins/bootstrapSelect/bootstrap-select.min.js"></script>
    <script src="${CONTEXT_PATH}/static/bjui/plugins/bootstrapSelect/defaults-zh_CN.min.js"></script>
    <!-- icheck -->
    <script src="${CONTEXT_PATH}/static/bjui/plugins/icheck/icheck.min.js"></script>
    <!-- HighCharts -->
    <script src="${CONTEXT_PATH}/static/bjui/plugins/highcharts/highcharts.js"></script>
    <script src="${CONTEXT_PATH}/static/bjui/plugins/highcharts/highcharts-3d.js"></script>
    <script src="${CONTEXT_PATH}/static/bjui/plugins/highcharts/themes/gray.js"></script>
    <!-- other plugins -->
    <script src="${CONTEXT_PATH}/static/bjui/plugins/other/jquery.autosize.js"></script>
    <link href="${CONTEXT_PATH}/static/bjui/plugins/uploadify/css/uploadify.css" rel="stylesheet">
    <script src="${CONTEXT_PATH}/static/bjui/plugins/uploadify/scripts/jquery.uploadify.min.js"></script>
    <script src="${CONTEXT_PATH}/static/bjui/plugins/download/jquery.fileDownload.js"></script>